# Temporal irradiance variability

In this tutorial you will calculate the temporal variability of GHI in Copenhagen for different time scales.

The first step is to import a few Python packages.

In [ ]:
# Install pvlib on Google Colab as this is not a standard package.
!pip install pvlib

In [1]:
import pvlib  # library for PV and solar calculations
import pandas as pd  # library for data analysis
import matplotlib.pyplot as plt  # library for plotting
import numpy as np  # library for math and linear algebra

## Step 1: Download data for Copenhagen

Download TMY data for Copenhagen using [``pvlib.iotools.get_pvgis_tmy``](https://pvlib-python.readthedocs.io/en/stable/reference/generated/pvlib.iotools.get_pvgis_tmy.html). Note that this function returns two items (data, meta); the first is the requested data and the second the relevant metadata.

In [2]:
# Copenhagen coordinates
latitude = 55.68
longitude = 12.56

# Get TMY from PVGIS (returns data, meta)
data, meta = pvlib.iotools.get_pvgis_tmy(latitude=latitude, longitude=longitude)

## Step 2: Investigate the metadata and plot GHI

Which months and years were used to create the TMY file for Copenhagen? Plot the GHI and visualy inspect the yearly variability.

In [3]:
# Write your code here

## Step 3: Compute the diurnal coefficient of variation

The diurnal coefficient of variation (CV) indicates how much that hourâ€™s data varies relative to its mean across days. It can be calculated by dividing the standard deviation (STD) of the dataset by the mean value for each hour. What do you notice?

In [5]:
data['hour'] = data.index.hour
diurnal = pd.DataFrame(index=range(24))
diurnal['mean'] = data.groupby('hour')['ghi'].mean()
diurnal['std'] = data.groupby('hour')['ghi'].std()
diurnal['cv'] = diurnal['std'] / diurnal['mean']

diurnal['cv'].round(2)

0      NaN
1      NaN
2      NaN
3     4.11
4     2.28
5     1.52
6     1.18
7     0.98
8     0.82
9     0.75
10    0.73
11    0.73
12    0.74
13    0.77
14    0.89
15    1.00
16    1.15
17    1.39
18    1.86
19    2.86
20     NaN
21     NaN
22     NaN
23     NaN
Name: cv, dtype: float64

In [6]:
data['day'] = data.index.day
daily = pd.DataFrame(index=range(31))
daily['mean'] = data.groupby('day')['ghi'].mean()
daily['std'] = data.groupby('day')['ghi'].std()
daily['cv'] = daily['std'] / daily['mean']

daily['cv'].round(2)

0      NaN
1     1.66
2     1.61
3     1.59
4     1.65
5     1.62
6     1.67
7     1.56
8     1.58
9     1.53
10    1.58
11    1.70
12    1.58
13    1.64
14    1.56
15    1.59
16    1.70
17    1.71
18    1.71
19    1.56
20    1.75
21    1.71
22    1.78
23    1.64
24    1.75
25    1.52
26    1.62
27    1.67
28    1.66
29    1.70
30    1.59
Name: cv, dtype: float64

In [18]:
data

,temp_air,relative_humidity,ghi,dni,dhi,IR(h),wind_speed,wind_direction,pressure,hour,day
time(UTC),,,,,,,,,,,
1990-01-01 00:00:00+00:00,2.45,91.61,0.0,0.0,0.0,20.12,7.13,169.0,100390.0,0,1
1990-01-01 01:00:00+00:00,2.42,91.98,0.0,0.0,0.0,21.96,6.33,164.0,100380.0,1,1
1990-01-01 02:00:00+00:00,2.39,92.35,0.0,0.0,0.0,23.80,5.53,160.0,100410.0,2,1
1990-01-01 03:00:00+00:00,2.36,92.71,0.0,0.0,0.0,25.65,4.72,150.0,100400.0,3,1
1990-01-01 04:00:00+00:00,2.32,93.08,0.0,0.0,0.0,27.49,3.92,146.0,100410.0,4,1
...,...,...,...,...,...,...,...,...,...,...,...
1990-12-31 19:00:00+00:00,2.62,89.77,0.0,0.0,0.0,10.91,11.14,168.0,102150.0,19,31
1990-12-31 20:00:00+00:00,2.58,90.14,0.0,0.0,0.0,12.75,10.34,168.0,102160.0,20,31
1990-12-31 21:00:00+00:00,2.55,90.50,0.0,0.0,0.0,14.60,9.53,168.0,102170.0,21,31
1990-12-31 22:00:00+00:00,2.52,90.87,0.0,0.0,0.0,16.44,8.73,168.0,102170.0,22,31
1990-12-31 23:00:00+00:00,2.49,91.24,0.0,0.0,0.0,18.28,7.93,168.0,102190.0,23,31